<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Manajemen Inventaris</title>
</head>
<body>
    <h1>Daftar Inventaris</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nama Barang</th>
            <th>Jumlah</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nama_barang }}</td>
            <td>{{ item.jumlah }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>