{% extends 'base.html' %}

{% block title %}Tambah Barang - Inventaris JOB Tomori{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-4">Tambah Barang IT Baru</h3>
                
                <form action="{{ url_for('tambah') }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Kode Barang</label>
                        <input type="text" name="kode_barang" class="form-control" value="{{ kode_scan }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nama Barang</label>
                        <input type="text" class="form-control" name="nama_barang" placeholder="Contoh: Mouse Logitech M170" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Kategori</label>
                        <select class="form-select" name="kategori">
                            <option value="Tinta Printer">Tinta Printer</option>
                            <option value="Jaringan">Jaringan</option>
                            <option value="Peripheral">Peripheral (Mouse/Keyboard)</option>
                            <option value="Power/Listrik">Power/Listrik</option>
                            <option value="Tools & Equipment">Tools & Equipment</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-bold">Stok Awal</label>
                           <input type="number" name="stok" class="form-control" value="0" onfocus="if(this.value=='0') this.value='';" onblur="if(this.value=='') this.value='0';" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-bold">Satuan</label>
                            <input type="text" class="form-control" name="satuan" placeholder="Contoh: Pcs, Unit, Roll" required>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success">Simpan Barang</button>
                        <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}